@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  padding: 18px;
  font-family: "Poppins", sans-serif;
}
.logo img{
  width: 123px;
  height: 46px;
  margin-left: 17px;
}

.logo figcaption{
  display: none;
}
.pesquisar{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 343px;
  height: 54.04px;
  background-color:#F8F9FA;
  border:1.65434px solid #F8F9FA;
  border-radius:33.0868px;
  margin-left: 17px;
}
.campoPesquisaProduto{
  color: #868E96;
  background-color:transparent;
  font-size:14.7053px;
  border:none;
  height:18px;
  width:155px;
}
.pesquisa img{
  width: 44.12px;
  height: 44.12px;
}
#filtros{
  display: flex;
  margin-top: 16.48px;
}
#filtros button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 40px;
  border-radius: 30px;
  flex: none;
  font-size: 14px;
  text-align: center;
  color: #212529;
  line-height: 17px;
}
.todos{
  margin-left: 18px;
  width: 72px;
  background: #F8F9FA;
  border: 1.5px solid #212529;
}
.panificadora{
  background: #FFF7F4;
  margin-left: 22px;
  width: 148px;
  border: 1.5px solid #FFF7F4;
}
.frutas{
  margin-left: 22px;
  width: 107px;
  background: #FFE4EA;
  border: 1.5px solid #FFE4EA;
}
.bebidas{
  margin-left: 22px;
  width: 118px;
  background: #F3EEF5;
  border: 1.5px solid #F3EEF5;
}
.vitrine {
  display: flex;
}
.card {
  width: 300px;
  margin-right: 23px;
}
figure {
  margin: 27px 23px 27px 0;
}
figure img {
  width: 300px;
  height: 200px;
  border-radius: 8px;
}
figure span {
  font-weight: 500;
  font-size: 11.12px;
  line-height: 16.68px;
}
.categoryDiv{
  position: relative;
  left: 4%;
  bottom: 15px;
  padding: 7px;
  border-radius: 30px;
  background: #ffe9ee;
  width: 95px;
  padding-left: 17px;
}
.categoryDiv img{
  width: 11px;
  height: 11px;
  margin-right: 10px;
}
.infos h2 {
  width: 300px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
}
.infos p {
  width: 300px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
}
.buy {
  width: 300px;
}
.buy span {
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  margin-right: 215px;
}
.buy button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e4f7ef;
  border: none;
}
.buy button:hover {
  cursor: pointer;
  border: 1px green solid;
}
.buy button:active {
  transform: scale(0.96);
}

@media (min-width: 480px) {
  .vitrine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1040px;
  }
  .figure {
    display: flex;
    flex-direction: column;
  }
  header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    width: 100%;
  }
  .logo img{
    height: 44px;
    margin-left: 30px;
  }
  .pesquisar{
    width: 311px;
    height: 49px;
    margin-right: 30px;
  }
}
