@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  padding: 18px;
  font-family: "Poppins", sans-serif;
}
.vitrine {
  display: flex;
}
.card {
  width: 300px;
  margin-right: 23px;
}
figure {
  margin: 27px 23px 27px 0;
}
figure img {
  width: 300px;
  height: 200px;
  border-radius: 8px;
}
figure span {
  font-weight: 500;
  font-size: 11.12px;
  line-height: 16.68px;
}
.categoryDiv{
  position: relative;
  left: 4%;
  bottom: 15px;
  padding: 7px;
  border-radius: 30px;
  background: #ffe9ee;
  width: 95px;
  padding-left: 17px;
}
.categoryDiv img{
  width: 11px;
  height: 11px;
  margin-right: 10px;
}
.infos h2 {
  width: 300px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
}
.infos p {
  width: 300px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
}
.buy {
  width: 300px;
}
.buy span {
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  margin-right: 215px;
}
.buy button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e4f7ef;
  border: none;
}
.buy button:hover {
  cursor: pointer;
  border: 1px green solid;
}
.buy button:active {
  transform: scale(0.96);
}

@media (min-width: 480px) {
  .vitrine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1040px;
  }
  .figure {
    display: flex;
    flex-direction: column;
  }
}
